<div class="grid p-fluid">
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Inferencia estadística usando R</h5>
			<A HREF="https://www.youtube.com/user/JacksonUNT"> https://www.youtube.com/user/JacksonUNT </A>
		</div>
		
		<div class="card">
			<div class="grid">
				<div class="col-12">
					<h5>Aprendizaje estadístico</h5>
					<A HREF="https://ciencias.medellin.unal.edu.co/escuelas/estadistica/index.php/shiny.html"> https://ciencias.medellin.unal.edu.co/escuelas/estadistica/index.php/shiny.html </A>
				</div>
				
			</div>
		</div>
        <div class="card">
			<h5>Ejercicios resueltos</h5>
			<A HREF="https://1drv.ms/u/s!AqoOfCv7MBqFgeQN1xcOxallD0-yAQ"> https://1drv.ms/u/s!AqoOfCv7MBqFgeQN1xcOxallD0-yAQ </A>
		</div>
	</div>
</div>