<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">INFERENCIA</span>
        <span class="text-blue-600"> ESTADÍSTICA</span>
    </div>
    <div class="text-700 text-sm mb-6">
        <p>La estadística inferencial es una parte de la estadística que comprende los métodos y procedimientos que por medio de la inducción
            determina propiedades de una población estadística, a partir de una parte de esta.
        </p>    
        <p>La inferencia estadística es el conjunto de métodos
            que permiten inducir, a través de una muestra estadística, el comportamiento de una determinada población. La inferencia estadística,
            estudia entonces como, a través de la aplicación de dichos métodos sobre los datos de una muestra, se pueden extraer conclusiones sobre los parámetros de
            la población de datos. De la misma manera estudia también el grado de fiabilidad de los resultados extraídos del estudio.
        </p>
        <p>La inferencia estadística es el procedimiento encargado de estudiar el comportamiento de una población concreta. Nació de la relación entre la Estadística Descriptiva y la Teoría de la Probabilidad, generando una manera alternativa de interpretar una muestra de datos de interés.
            Una de las mayores complicaciones que encontramos en los análisis estadísticos es el gran tamaño de la población. Por ejemplo, si queremos saber el posicionamiento de todas la personas que viven en nuestro país ante una nueva reforma laboral, es prácticamente imposible preguntar
            a todos los ciudadanos, por lo que se han de elegir muestras variadas y representativas que generen una buena estimación del resultado.</p>
    </div>
    <p> <b><span class="text-black" >OBJETIVOS DE LA PÁGINA</span></b> 
    </p><br>
    
    <div class="grid">
        <p-toast></p-toast>
        <div class="col-12 md:col-4 mb-4 px-5">
            <div class="card p-fluid">
                <i class="pi pi-chart-bar text-4xl text-blue-500"></i>
                <h5>Objetivo 1</h5>
                    <p>En la página web observaremos todo lo que es acerca del Tema de Distribución muestral. </p>
        </div>
        

        
    </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <p-toast></p-toast>
            <div class="card p-fluid">
                <i class="pi pi-chart-bar text-4xl text-blue-500"></i>
                <h5>Objetivo 2</h5>
                <p>Mejorar la comprensión del curso de estadística para el usuario.</p>
        </div>
    </div>

        <div class="col-12 md:col-4 mb-4 px-5">
            <p-toast></p-toast>
            <div class="card p-fluid">
                <i class="pi pi-chart-bar text-4xl text-blue-500"></i>
                <h5>Objetivo 3</h5>
                <p>Facilidad para encontrar los temas de Distribución Muestral.</p>
        </div>
    </div>

        <div class="col-12 md:col-4 mb-4 px-5">
            <p-toast></p-toast>
            <div class="card p-fluid">
                <i class="pi pi-chart-line text-4xl text-blue-500"></i>
                <h5>Objetivo 4</h5>
                <p>Que el usuario se sienta satisfecho y aprenda un poco más del curso.</p>
        </div>
    </div>

        <div class="col-12 md:col-4 mb-4 px-5">
            <p-toast></p-toast>
            <div class="card p-fluid">
                <i class="pi pi-chart-line text-4xl text-blue-500"></i>
                <h5>Objetivo 5</h5>
                <p>Incorporar nuevas formas de interacción para que sea más llamativa.</p>
        </div>
    </div>

        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <p-toast></p-toast>
            <div class="card p-fluid">
                <i class="pi pi-chart-line text-4xl text-blue-500"></i>
                <h5>Objetivo 6</h5>
                <p>Tratamiento de datos estadísticos con una mejor interfaz.</p>
        </div>
    </div>
</div>