<div class="card">
    <h5 class="titulo">
        <b><p style="text-align: center">DISTRIBUCIÓN MUESTRAL</p> </b>
    </h5>

    <p-fieldset
        
        legend="¿QUÉ ES UNA DISTRIBUCIÓN MUESTRAL?"
        toggleable="true"
        class="line-height-3 m-0 subtitulo"
    >
        <p style="text-align: justify">
            En cada una de las distintas muestras que pueden ser extraídas de
            una población se pueden calcular estadísticos como la media
            aritmética o la proporción de elementos que presentan cierta
            característica; por ejemplo, la media de estaturas o la proporción
            de licenciados universitarios. Cuando los elementos son escogidos de
            manera aleatoria, los estadísticos pueden tomar distintos valores en
            cada una de las muestras, cada uno de ellos con distinta
            probabilidad. </p>
            <p style="text-align: justify">
            La probabilidad de cada uno de los posibles valores
            que puede tomar un estadístico en muestras extraídas al azar viene
            dada por una función matemática denominada <b> distribución muestral</b>,
            que depende del estadístico en cuestión. Se habla así, por ejemplo,
            de la <b>distribución muestral de la media aritmética </b>o de la
            <b>distribución muestral de la proporción.</b> 
            </p>
            <p style="text-align: justify">
            La distribución de muestral es una distribución de probabilidad de una estadística obtenida de
            un mayor número de muestras extraídas de una población específica.
            La distribución muestral de una población dada es la distribución de
            frecuencias de un rango de resultados diferentes que posiblemente
            podrían ocurrir para una estadística de una población.
            </p>
        <ul style="list-style-type: circle">
            <li>
                En estadística, una población es el conjunto completo del que se
                extrae una muestra estadística. Una población puede referirse a
                un grupo completo de personas, objetos, eventos, visitas al
                hospital o mediciones. Por tanto, se puede decir que una
                población es una observación agregada de sujetos agrupados por
                una característica común.
            </li>
            <li>
                Una distribución muestral es una estadística que se obtiene
                mediante un muestreo repetido de una población más grande.
            </li>
            <li>
                Describe un rango de posibles resultados de una estadística,
                como la media o la moda de alguna variable, ya que realmente
                existe una población.
            </li>
            <li>
                La mayoría de los datos analizados por los investigadores
                provienen de muestras y no de poblaciones.
            </li>
        </ul>
    </p-fieldset>
</div>
<div class="card" >
    <p-tabView orientation="left">
        <p-tabPanel
            header="COMPRENSIÓN DE LA DISTRIBUCION MUESTRAL"
            class="line-height-3 m-0 subtitulo" style="text-align: justify"
        >
            <ul style="list-style-type: circle">
                <li>
                    Una gran cantidad de datos extraídos y utilizados por
                    académicos, estadísticos, investigadores, comercializadores,
                    analistas, etc. son en realidad muestras, no poblaciones.
                    Una muestra es un subconjunto de una población.
                </li>
                <li>
                    Cada muestra tiene su propia media muestral y la
                    distribución de las medias muestrales se conoce como
                    distribución muestral. Otras estadísticas, como la
                    desviación estándar, la varianza, la proporción y el rango
                    se pueden calcular a partir de datos de muestra. La
                    desviación estándar y la varianza miden la variabilidad de
                    la distribución muestral.
                </li>
                <li>
                    El número de observaciones en una población, el número de
                    observaciones en una muestra y el procedimiento utilizado
                    para extraer los conjuntos de muestras determinan la
                    variabilidad de una distribución muestral. La desviación
                    estándar de una distribución muestral se denomina error
                    estándar. Si bien la media de una distribución muestral es
                    igual a la media de la población, el error estándar depende
                    de la desviación estándar de la población, el tamaño de la
                    población y el tamaño de la muestra.
                </li>
                <li>
                    Saber cuán separada está la media de cada uno de los
                    conjuntos de muestras entre sí y de la media de la población
                    dará una indicación de qué tan cerca está la media de la
                    muestra de la media de la población. El error estándar de la
                    distribución muestral disminuye a medida que aumenta el
                    tamaño de la muestra.
                </li>
            </ul>
        </p-tabPanel>
        <p-tabPanel
            header="CONSIDERACIONES ESPECIALES"
            class="line-height-3 m-0" style="text-align: justify"
        >
            Una población o un conjunto de números de muestra tendrá una
            distribución normal. Sin embargo, debido a que una distribución de
            muestreo incluye múltiples conjuntos de observaciones, no
            necesariamente tendrá una forma de campana curva . 
            <p>
                Sin embargo, si
                grafica la muestra, la forma resultante puede dar como resultado una
                distribución uniforme, pero es difícil predecir con certeza cuál
                será la forma real. Cuantas más muestras utilice el investigador de
                la población, más comenzará a formar una distribución normal en el
                gráfico.
            </p>
        </p-tabPanel>
        <p-tabPanel
            header="IMPORTANCIA EN LA INGENIERIA"
            class="line-height-3 m-0 " style="text-align: justify "
        >
            Un curso tradicional de estadística en estudios de ingeniería
            incluye el estudio de las distribuciones muestrales, considerado un
            puente entre las distribuciones de probabilidades y la estimación de
            parámetros (puntual y por intervalo de confianza). Estos tópicos,
            además de contribuir a la adquisición de conocimientos conceptuales
            y procedimentales sobre objetos estadísticos variados, <b> <FONT COLOR="9b6a6c">permiten
                generar competencias estadísticas específicas que pueden alcanzarse,
                tales como: identificar, modelar y resolver problemas que describan
                fenómenos aleatorios en la práctica de ingeniería; usar paquetes
                computacionales para resolver problemas del área de estadística;
                interpretar críticamente información estadística; habilidad para
                realizar experimentos de simulación en el diseño de procesos, entre
                otros.
            </FONT></b> Todas estas competencias se deben reforzar para una formación
            óptima del profesional en las Escuelas de Ingeniería. Se consideran
            importantes en el trabajo del ingeniero, al proporcionarles
            herramientas metodológicas para el desarrollo de su trabajo en
            situaciones de incertidumbre
        </p-tabPanel>
    </p-tabView>
</div>
