.formula1{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .formula2{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .formula3{
            display: flex;
            justify-content: center;
            align-items: center;
            }
            .formula4{
                display: flex;
                justify-content: center;
                align-items: center;
                }
                .formula5{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }